<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication </title>
</head>
<body>
    <h1> Login to Yo Mama's House</h1>

    <form id = "login_form" method = "post" action = "{% url 'authentication:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        Username: <input type = "text" name = "username" value = "" size = "50" />
        <br/>
        Password: <input type = "password" name = "password" value = "" size = "50" />
        <br />

        <input type = "submit" value = "submit" />

    </form>
</body>
</html>