<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
</head>
<body>

    <h1> Register with UCI Tracker</h1>
    {% if registered %}
    Thank you for registering
    <a href="{% url 'authentication:login' %}" >Login</a><br />
    {% else %}
    Register here!<br />

    <form id = "user_form" method = "post" action = "{% url 'authentication:register' %}"
                enctype = "multipart/form-data">

          {% csrf_token %}

          {{user_form.as_p}}
          {{profile_form.as_p}}

           <input type = "submit" name = "submit" value = "Register" />
    </form>
    {% endif %}
</body>
</html>